section.cinematography-page
  .page-content-wrapper
    .close-pop-up-botton: span
    h3.main-header  Cinematography

    section.cinematography-pop-up-body.home-sections
      .flex.flex--center
        .col-1
          ul.j.p-border Recent Projects
            hr
            li
              a.link(href="https://www.facebook.com/StarWarsShort/videos/1641815189407162/" target="_blank") Star Wars: Rise of Omeni
                br
              span Short Film
              hr

        

      .hire-me
        a(href="mailto:zacharyrnewton@gmail.com").hire-me.hvr-grow Hire Me
