section.cinematography#cinematography
  .cinematography-head
    h2 ...making cool videos for people...
    .you-tube-badge
      a(href="https://www.youtube.com/channel/UCrethwPPNk9Uk2V9IoRdL4w" target="_blank").hvr-grow YOUTUBE
    p.youtube-cta Take a look at a few of my projects on YouTube

  .videos-cont
    .embed-container
      iframe(src="https://www.youtube-nocookie.com/embed/U9ksxuytw-w?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen)
