section.footer#contact
  .row
    .wrapper-email
      a(href="mailto:zacharyrnewton@gmail.com").mail.me

  .row
    .wrapper
      
      a(href="https://www.facebook.com/zacharyrnewton/" target="_blank").facebook.fx
      
      a(href="https://www.instagram.com/zacharyrnewton/" target="_blank").instagram.fx
      
      a(href="https://www.snapchat.com/add/zacharyrnewton" target="_blank").snapchat.fx
      
      a(href="https://twitter.com/_zacharyrnewton?lang=en" target="_blank").twitter.fx

      a(href="https://www.linkedin.com/in/zacharyrnewton" target="_blank").linkedin.fx
      
  //.row
    .wrapper
      
      a(href="https://dribbble.com/zacharyrnewton" target="_blank").dribble.fx
      
      a(href="http://codepen.io/zacharyrnewton/" target="_blank").codepen.fx
      
      a(href="https://github.com/zacharyrnewton" target="_blank").github.fx

      a(href="https://www.youtube.com/channel/UCrethwPPNk9Uk2V9IoRdL4w" target="_blank").youtube.fx
      
      a(href="https://plus.google.com/u/0/105428742800711759449" target="_blank").googleplus.fx
