section.graphic-design-page
  .page-content-wrapper
    .close-pop-up-botton: span
    h3.main-header  Graphic-Design
    
    
    section.photography-pop-up-body.home-sections
      .flex.flex--center
        .col-1
          ul.j.p-border Recent Projects
            hr
            li
              a.link(href="https://www.icloud.com/sharedalbum/#B0EJtdOXmGEXcTy;C52A867F-D2CC-4D18-A2AF-C5DF21A2E95A" target="_blank") There is a Light
                br
              span Sermon Series at 
                a(href="http://www.newcovenantfl.org/there-is-a-light" target="_blank") New Covenant
              hr
            li
              a.link(href="https://www.icloud.com/sharedalbum/#B0EJtdOXmGEXcTy;2998589B-3889-412D-9A7D-275E61F8E5FC" target="_blank") Advance
                br
              span Production group by 
                a(href="https://www.facebook.com/stephen.letizia.1?fref=ts" target="_blank") Stephen Letizia
              hr
      .hire-me
        a(href="mailto:zacharyrnewton@gmail.com").hire-me.hvr-grow Hire Me
