section.graphic-design#graphic-design
  .flex.flex--center
    h2 ...fabricating the things you see everywhere...
  .logo-container
    .ncc
      image(src="/assets/img/ncc-logo.png" width="100%" height="auto")
    .zn
      image(src="/assets/img/logo-zn.svg" width="100%" height="auto")
    .advance
      image(src="/assets/img/advance-logo.png" width="100%" height="auto")
