doctype html
html(lang="en-US")
 head
    link(rel="icon" type="image/x-icon" href="favicon.ico")
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name="description" content="Zachary R Newton is a profesional Developer who likes to make the world around him better through many types of production.")
    title Zachary Newton
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/main.css')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-76141154-1', 'auto');
      ga('send', 'pageview');
    script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    script.
     (adsbygoogle = window.adsbygoogle || []).push({
     google_ad_client: "ca-pub-2976775311494811",
     enable_page_level_ads: true
     });

 body
  .home-wrap
    include ./nav.jade
    .home-sections
      include ./hero.jade
      include ./about.jade
      include ./cinematography.jade
      include ./photography.jade
      include ./sound.jade
      include ./graphic-design.jade
      include ./web-design.jade
      include ./footer.jade
    script(src="/assets/js/min/jquery-2.2.3.min.js")
    script(src="/assets/js/min/functions-min.js")
