section.photography-page
  .page-content-wrapper
    .close-pop-up-botton: span
    h3.main-header  Photography



    section.photography-pop-up-body.home-sections
      .flex.flex--center
        .col-1
          ul.j.p-border Current Work
            hr
            li
              a.link(href="https://www.icloud.com/sharedalbum/#B0EJtdOXmGEXcTy" target="_blank") Photo Album
                br
              span All Photos Created by Me
              hr
      .hire-me
        a(href="mailto:zacharyrnewton@gmail.com").hire-me.hvr-grow Hire Me
