section.sound-page
  .page-content-wrapper
    .close-pop-up-botton: span
    h3.main-header  Sound


    section.photography-pop-up-body.home-sections
      .flex.flex--center
        .col-1
          ul.j.p-border Upcomming Projects
            hr
            li
              a.link(href="https://www.facebook.com/FireflyFaithfulCompanion/?fref=ts" target="_blank") A Faithful Companion
                br
              span Short Film
              hr
      .hire-me
        a(href="mailto:zacharyrnewton@gmail.com").hire-me.hvr-grow Hire Me
