section.sound#sound
  .header-wrapper
    h2 ...making everything around him sound great...
    .eq-container
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
      .eq-bar
  .body-wrapper
    .audio-container
      iframe(width="90%" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/265137563&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true")
