section.web-design-page
  .page-content-wrapper
    .close-pop-up-botton: span
    h3.main-header  Web-Design




    section.photography-pop-up-body.home-sections
      .flex.flex--center
        .col-1
          ul.j.p-border Recent Projects
            hr
            li
              a.link(href="http://zacharyrnewton.com" target="_blank") Zachary Newton
                br
              span My Portfolio Website
              hr
            li
              a.link(href="http://www.newcovenantfl.org/" target="_blank") New Covenant Church
                br
              span Organization
              hr
            li
              a.link(href="http://bonnie-fares.squarespace.com/creative-team/" target="_blank") Zaina Salon
                br
              span Business
              hr
      .hire-me
        a(href="mailto:zacharyrnewton@gmail.com").hire-me.hvr-grow Hire Me
