section.web-design#web-design
  h2 ...and of course, making beautiful websites for everyone.
  .web-design-body
    .web-build-container
      .col-2
        a(href="https://zacharyrnewton.github.io/blankmind/" target="_blank").web-build.one
          h6 Blank Mind Clothing

        a(href="http://starvingartistry.co" target="_blank").web-build.two
          h6 Starving Artistry

        a(href="http://sl2visuals.com" target="_blank").web-build.three
          h6 Sl2 Visuals

        a(href="mailto:zacharyrnewton@gmail.com?subject=  I would like to be your next project").web-build.four
          h6 What's Next?
