section.graphic-design
  position: relative
  z-index: 1
  background: #3e606f
    image: url(../assets/img/graphic-design.jpg)
    attachment: fixed
    repeat: no-repeat
    size: cover
    position: center center

section.graphic-design:after
  content: ""
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background:
    image: $overlay
    repeat: repeat
  z-index: -1
  opacity: 0.3

section.graphic-design

  h3
    position: relative
    z-index: 2
    color: white
    text-align: center
    font-weight: 400

  p.no-indent
    text-indent: 0

  p
    text-indent: 1em
    position: relative
    z-index: 2
    color: white
    padding: 10px
    opacity: 0
    transition: all 0.3s ease-in-out
    transform: translateX(-20px)

    &.gd-is-showing
      opacity: 1
      transform: translateX(0px)

@media (max-width: 1075px)
  section.graphic-design
    background:
      image: url(../assets/img/graphic-design.jpg)
      position: center center
      size: cover
      attachment: scroll

//View More Button
.view-more-graphic-design-wrapper
  margin: auto
  margin-top: 1.5em
  margin-bottom: -57px
  width: 100%
  background: $view-more
  color: white
  opacity: 0
  p.view-more-graphic-design
    transform: translateX(0)
    opacity: 1
    color: white
    background: none
    text-align: center
    max-width: 100%
    cursor: pointer
    margin: 0
    padding: 10px
    line-height: 1
    text-indent: 0

  &.graphic-design-page-button
    animation-name: bounceInRight
    animation-duration: 0.6s
    opacity: 1
