.home-sections section.cinematography
  padding-top: 0
  padding-bottom: 50px
  overflow: hidden

section.cinematography
  background: white
  overflow: hidden

  .cinematography-head
    position: relative
    z-index: 1
    overflow: hidden
    padding: 3em 0 3em 0
    text-align: center
    margin: auto
    background:
      image: url(../assets/img/cinematographer.jpg)
      repeat: no-repeat
      size: cover
      position: center center
    @media (max-width: 775px)
      padding: 30% 0 30% 0

  .cinematography-head:after
    content: ""
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background:
      image: $overlay
      repeat: repeat
    z-index: -1
    opacity: 0.3

  h3
    text-align: center
    color: white
    margin-bottom: .7em

  .you-tube-badge
    text-align: center
    &.is-pulsed
      animation-name: pulse
      animation-duration: 1s
      animation-fill-mode: both
    a
      text-align: center
      color: transparent
      background:
        image: url(../assets/img/youtube-play-button.png)
        size: contain
        position: center center
        repeat: no-repeat
      padding: 20px

  p.youtube-cta
    text-align: center
    color: white
    margin-top: 2em
    text-indent: 0

  h6
    text-align: center
    color: #394954
    margin-bottom: 0

  p
    text-indent: 1em
    padding: 10px
    color: #476071

  .pre-pro
    transition: all 0.4s ease-in-out
    transform: translateX(-100px)
    opacity: 0
    &.pro-body-is-visable
      transform: translateX(0)
      opacity: 1

  .post-pro
    transition: all 0.4s ease-in-out
    transform: translateX(100px)
    opacity: 0
    &.pro-body-is-visable
      transform: translateX(0)
      opacity: 1

    //View More Button
  .view-more-cinematography-wrapper
    margin: auto
    margin-top: 1.5em
    margin-bottom: -57px
    width: 100%
    background: $view-more
    opacity: 0

    p.view-more-cinematography
      color: white
      background: none
      text-align: center
      max-width: 100%
      cursor: pointer
      margin: 0
      padding: 10px
      line-height: 1
      text-indent: 0

    &.cinematography-page-button
      animation-name: bounceInRight
      animation-duration: 0.6s
      opacity: 1
